doctype
html
  head
    link(rel="stylesheet" href="/main.css")
    link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,900" type="text/css")
    link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" type="text/css")
  body
    != yield
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(type="text/javascript").
      $("li.boring").on('click', function(){
        $(".content.boring").show();
        $(".content.fun").hide();
      })

      $("li.fun").on('click', function(){
        $(".content.boring").hide();
        $(".content.fun").show();
      })