body{
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.42857143;
  color: #000;
}

a {
  text-decoration: none;
  color: darken(#5fc1e8, 20%);
  transition: all 400ms;

  &:hover {
    color: darken(#5fc1e8, 30%);
  }
}

h1{
  font-size: 65px;
  line-height: 1.2em;
  border-bottom: #CCC solid 1px;
  padding: 20px 0;
}

h3{
  font-weight: 300;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    text-align: left;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  margin-bottom: 50px;
  padding: 10px 40px;
  box-sizing: border-box;
  width: 100%;
  z-index: 10;

  .name {
    margin-top: 10px;
    font-family: Oswald;
    font-size: 36px;
    font-weight: 700;
  }

  .info {
    i {
      width: 28px;
      text-align: center;

      &.fa-envelope {
        font-size: 11px;
      }

      &.fa-mobile-phone {
        font-size: 16px;
      }
    }
  }

  .shadow {
    background: url("header-shadow.png") no-repeat center top;
    border-top: 1px #EEE solid;
    clear: both;
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100%;
    height: 20px;
    z-index: 998;
  }
}

.column {
  float: left;
}

.main-content {
  margin-top: 140px;
  padding: 0 40px;
  box-sizing: border-box;
  width: 100%;

  .main-column {
    width: 50%;

    &.left {
      position: fixed;
      left: 20px;
    }
  }
}

.left {
  float: left;

  .panel {
    .bio {
      padding: 0 40px 20px 20px;
      margin: 0 70px 0 20px;
      font-size: 18px;
      border-right: 1px solid #c5c5c5;

      p:first-child {
        margin-top: 0px;
      }
    }
  }
}

.right {
  float: right;
}

.right {
  .panel {
    position: relative;
    width: 100%;

    .menu {
      position: relative;
      height: 50px;

      .item {
        height: 50px;
        width: 100px;
        text-align: center;
        margin-left: -50px;
        position: absolute;
        -webkit-transition: all 400ms;
        -moz-transition: all 400ms;
        -o-transition: all 400ms;
        transition: all 400ms;
        vertical-align: middle;
        font-size: 14px;

        &.active {
          left: 50% !important;
          font-size: 26px;

          a {
            color: #000;
          }
        }

        &.boring {
          left: 30%
        }

        &.fun {
          left: 70%
        }

        a {
          color: #a5a5a5;
          line-height: 50px;
        }

        &:hover {
          // background-image: -webkit-linear-gradient(#5f8ab9, #3e648d 50%, #385a7f);
          // background-image: -o-linear-gradient(#5f8ab9, #3e648d 50%, #385a7f);
          // background-image: linear-gradient(#5f8ab9, #3e648d 50%, #385a7f);
          // background-repeat: no-repeat;
          // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5f8ab9', endColorstr='#ff385a7f', GradientType=0);
          // filter: none;
          // border: 1px solid #2e4b69;
        }
      }
    }

    .content {
      margin: 70px 0;
      -webkit-transition: all 400ms;
      -moz-transition: all 400ms;
      -o-transition: all 400ms;
      transition: all 400ms;
    }
  }

  .content.fun, .content.boring {
    opacity: 0;
    position: absolute;
    width: 100%;

    ul {
      li {
        margin-bottom: 50px;

        header {
          font-size: 21px;
          margin-bottom: 6px;
          border-bottom: 1px solid #d5d5d5;

          .role {
            font-size: 16px;
            font-style: italic;
          }
        }

        p {
          color: #666;
          font-size: 16px;
        }
      }
    }

    &.active {
      opacity: 1;
    }
  }
}

.menu {
  float: left;
  width: 100%;
}