doctype
html
  head
    title Dan Howard
    link(rel="stylesheet" href="main.css")
    link(href='http://fonts.googleapis.com/css?family=Oswald:400,700|Roboto:300,400,500' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" type="text/css")
  body
    != yield
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(type="text/javascript").
      $(".item.boring").on('click', function(){
        $(".right .boring").addClass("active");
        $(".right .fun").removeClass("active");
      })

      $(".item.fun").on('click', function(){
        console.log("yo");
        $(".right .boring").removeClass("active");
        $(".right .fun").addClass("active");
      })