header.main-header.column.contact
  .header-info
    div.name.left Dan Howard

    ul.info.right
      li
        i.fa.fa-mobile-phone
        span 949.939.0030
      li
        i.fa.fa-envelope
        span danjhoward@gmail.com
      li
        i.fa.fa-map-marker
        span West LA / Santa Monica
  .shadow

.main-content.column
  .main-column.left
    .column.panel
      .column.bio
        p Southern California native, software developer, and owner of a very nice Kenneth Cole briefcase.

  .main-column.right
    .column.panel
      .menu
        .item.boring.active
          a(href="#") Places
        .item.fun
          a(href="#") Things

      .content.column.boring.active
        ul
          li
            header
              .company Originate
              .role Front End Engineer, 2010 - present
            p
              | In a few years working on Originate's massive portfolio, I've lead front end teams on applications for a bunch of startups you've never heard of as well as a couple enormous companies like MGM and Madison Square Garden.
              | I also served as company’s first Front End Architect to codify processes and enforce best practices.
          li
            header
              .company Streetfeed (News Corporation)
              .role Sr. Software Engineer, January - May 2010
            p
              | My first gig as a real web developer; I worked on an agile team to build a professional social network in Ruby on Rails.
              | I was responsible for full-stack implementation of many core features and found my interests lay more in the front end, which is how I ended up with my role at Originate.
          li
            header
              .company Slingshot Labs (News Corporation)
              .role Flash Developer, 2008 - 2010
            p
              | First job out of USC. Specializing in Flash/Flex development and Actionscript 3 programming, I built a number of applications and standalone websites, often integrated with Facebook and MySpace



      .content.column.fun
        ul
          li
            header
              a(href="http://www.scenarium.us") Scenarium
            p I'm a proud member of the small yet mighty
              a(href="http://www.robotdinosaurgames.com")
                |  Robot Dinosaur Games
              |  crew. Our current project, Scenarium,
              |  is a storytelling card game that we recently funded on Kickstarter. We're working on an iOS version to go along with the hard version, so look for that in October!

          li
            header
              a(href="http://timeline.danjhoward.com") Timeline
            p Built as part of a larger content management system, the Timeline was built as a visual way to quickly schedule content to go out in a news feed.  For privacy purposes, I've replaced all the real content with things that interest me, like the Lakers.

          li
            header
              a(href="http://draft.danjhoward.com") DraftTracker
            p For you fantasy football fans out there. I made this for myself, but maybe some of you will think it's useful too. Use it to rank players how you want, and then mark them off as theyre drafted and keep track of which ones you've taken.

          li
            header RunSomething
            p RunSomething is an iOS game that uses your GPS location to draw pictures. Think DrawSomething, but where you have to move around. It's not available on the app store anymore, but there are about 6 people out there who LOVE it.  Screenshots coming soon.

          li
            header
              a(href="http://fest.danjhoward.com") The Six Second Film Festival
            p Vine had just come out and we thought it was going to be the next big thing (we were wrong, it was Instagram).  The idea was simple: every day, we release a prompt and a hashtag.  The winner is the video with the most retweets in 24 hours.  The festival has been discontinued but this is a snapshot.

